# -------------------------------
# Darey API Credentials
# -------------------------------
DAREY_USERNAME=your_darey_username
DAREY_PASSWORD=your_darey_password
BUSINESS_ID=your_business_id

# -------------------------------
# Origin Email (for Mailjet)
# -------------------------------
ORIGIN_EMAIL=your_email@example.com
ORIGIN_NAME="3MTT Support Team"

# -------------------------------
# Mailjet API
# -------------------------------
MAILJET_API_KEY=your_mailjet_api_key
MAILJET_API_SECRET=your_mailjet_api_secret

# -------------------------------
# AWS SES Credentials
# -------------------------------
EMAIL_HOST='your_aws_ses_smtp_endpoint'
EMAIL_PORT='587'
EMAIL_USE_TLS=True
EMAIL_HOST_USER='your_aws_ses_smtp_username'
EMAIL_HOST_PASSWORD='your_aws_ses_smtp_password'
# Concurrency for sending emails
CONCURRENCY=10

# -------------------------------
# Downloader / API
# -------------------------------
DOWNLOAD_URL=https://aiservice.academy.darey.io/ai/api/learners
DOWNLOAD_LIMIT=50000
BATCH_SIZE=500

# -------------------------------
# Learner filtering
# -------------------------------
INACTIVE_DAYS=14
LOW_SCORE_THRESHOLD=50

# -------------------------------
# Retry / Concurrency
# -------------------------------
MAX_RETRIES=3
RETRY_DELAY=5

# ----------------------------
# Test / Development Settings
# ----------------------------

# Enable test mode to override learner emails
TEST_MODE=False # If True, send all emails to TEST_EMAIL_ADDRESS
DRY_RUN=False # If True, do not send any emails

# All emails will be sent to this address when TEST_MODE=True
TEST_EMAIL_ADDRESS=gaddafimadu@gmail.com #khairat.gobir@fmcide.gov.ng

# Limit learners per template in test mode
TEST_MODE_COUNT=1